.column-desktop-1-2,.column-desktop-1-3,.column-desktop-1-4,.column-desktop-1-5,.column-desktop-1-6,.column-desktop-2-3,.column-desktop-2-5,.column-desktop-3-4,.column-desktop-3-5,.column-laptop-1-2,.column-laptop-1-3,.column-laptop-1-4,.column-laptop-1-5,.column-laptop-1-6,.column-laptop-2-3,.column-laptop-2-5,.column-laptop-3-4,.column-laptop-3-5,.column-mobileonly-1-2,.column-mobileonly-1-3,.column-mobileonly-1-4,.column-mobileonly-1-5,.column-mobileonly-1-6,.column-mobileonly-2-3,.column-mobileonly-2-5,.column-mobileonly-3-4,.column-mobileonly-3-5,.column-phablet-1-2,.column-phablet-1-3,.column-phablet-1-4,.column-phablet-1-5,.column-phablet-1-6,.column-phablet-2-3,.column-phablet-2-5,.column-phablet-3-4,.column-phablet-3-5,.column-tablet-1-2,.column-tablet-1-3,.column-tablet-1-4,.column-tablet-1-5,.column-tablet-1-6,.column-tablet-2-3,.column-tablet-2-5,.column-tablet-3-4,.column-tablet-3-5{padding:0 5;width:100%}
@media (min-width:70em){.column-desktop-1-2{max-width:50%}
.column-desktop-1-3{max-width:33.33333%}
.column-desktop-1-4{max-width:25%}
.column-desktop-1-5{max-width:20%}
.column-desktop-3-4{max-width:75%}
.column-desktop-2-3{max-width:66.66667%}
.column-desktop-1-6{max-width:16.66667%}
.column-desktop-2-5{max-width:40%}
.column-desktop-3-5{max-width:60%}}
@media (min-width:64em){.column-laptop-1-2{max-width:50%}
.column-laptop-1-3{max-width:33.33333%}
.column-laptop-1-4{max-width:25%}
.column-laptop-1-5{max-width:20%}
.column-laptop-3-4{max-width:75%}
.column-laptop-2-3{max-width:66.66667%}
.column-laptop-1-6{max-width:16.66667%}
.column-laptop-2-5{max-width:40%}
.column-laptop-3-5{max-width:60%}}
@media (min-width:50em){.column-tablet-1-2{max-width:50%}
.column-tablet-1-3{max-width:33.33333%}
.column-tablet-1-4{max-width:25%}
.column-tablet-1-5{max-width:20%}
.column-tablet-3-4{max-width:75%}
.column-tablet-2-3{max-width:66.66667%}
.column-tablet-1-6{max-width:16.66667%}
.column-tablet-2-5{max-width:40%}
.column-tablet-3-5{max-width:60%}}
@media (min-width:37.5em){.column-phablet-1-2{max-width:50%}
.column-phablet-1-3{max-width:33.33333%}
.column-phablet-1-4{max-width:25%}
.column-phablet-1-5{max-width:20%}
.column-phablet-3-4{max-width:75%}
.column-phablet-2-3{max-width:66.66667%}
.column-phablet-1-6{max-width:16.66667%}
.column-phablet-2-5{max-width:40%}
.column-phablet-3-5{max-width:60%}}
@media (max-width:37.5em){.column-mobileonly-1-2{max-width:50%}
.column-mobileonly-1-3{max-width:33.33333%}
.column-mobileonly-1-4{max-width:25%}
.column-mobileonly-1-5{max-width:20%}
.column-mobileonly-3-4{max-width:75%}
.column-mobileonly-2-3{max-width:66.66667%}
.column-mobileonly-1-6{max-width:16.66667%}
.column-mobileonly-2-5{max-width:40%}
.column-mobileonly-3-5{max-width:60%}}
.test-clas__function{margin:2001.25}
.wrapper{margin:0 auto}
.row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
[class*=column]{width:100%}
.justify-between{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;width:100%;position:relative}
.main-page{min-heigh:100%}
.sidebar{position:fixed;top:0;bottom:0;width:300px;overflow-y:auto;-webkit-box-shadow:1px 0 35px 30px #616161;box-shadow:1px 0 35px 30px #616161;display:block;z-index:2}
.content{margin-left:300px}
body{margin:0}
img{max-width:100%}
.portfolio-list{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.portfolio-item{width:100%;padding-top:75%;position:relative;overflow:hidden}
.portfolio-item__wrap{-webkit-box-flex:0;-webkit-flex:0 1 100%;-ms-flex:0 1 100%;flex:0 1 100%}
@media (min-width:37.5em){.portfolio-item__wrap{-webkit-box-flex:0;-webkit-flex:0 1 50%;-ms-flex:0 1 50%;flex:0 1 50%}}
@media (min-width:50em){.portfolio-item__wrap{-webkit-box-flex:0;-webkit-flex:0 1 50%;-ms-flex:0 1 50%;flex:0 1 50%}}
@media (min-width:64em){.portfolio-item__wrap{-webkit-box-flex:0;-webkit-flex:0 1 33.33%;-ms-flex:0 1 33.33%;flex:0 1 33.33%}}
@media (min-width:70em){.portfolio-item__wrap{-webkit-box-flex:0;-webkit-flex:0 1 25%;-ms-flex:0 1 25%;flex:0 1 25%}}
.portfolio-item__inner{position:absolute;top:0;left:0;bottom:0;right:0}
.portfolio-item__inner picture{display:block;height:100%;width:100%}
.portfolio-item__inner img{-o-object-fit:cover;object-fit:cover;width:100%}
.logo{padding:35px 85px}
.logo__title{color:#364048;font-size:3rem}
.logo__subtitle img{padding-left:35px}
.menu ul{margin:0;padding:0}
.menu ul li{list-style:none;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;padding:25px;background-image:-webkit-gradient(linear,left top, left bottom,from(#333b3f),color-stop(#323a3e),color-stop(#31393d),color-stop(#30383c),to(#2f373b));background-image:-webkit-linear-gradient(top,#333b3f,#323a3e,#31393d,#30383c,#2f373b);background-image:-o-linear-gradient(top,#333b3f,#323a3e,#31393d,#30383c,#2f373b);background-image:linear-gradient(to bottom,#333b3f,#323a3e,#31393d,#30383c,#2f373b);border-bottom:1px solid #293034}
.menu ul li.active{background-image:-webkit-gradient(linear,left top, left bottom,from(#31bcbb),color-stop(#2cb6b5),color-stop(#26b0ae),color-stop(#20aaa8),to(#19a4a2));background-image:-webkit-linear-gradient(top,#31bcbb,#2cb6b5,#26b0ae,#20aaa8,#19a4a2);background-image:-o-linear-gradient(top,#31bcbb,#2cb6b5,#26b0ae,#20aaa8,#19a4a2);background-image:linear-gradient(to bottom,#31bcbb,#2cb6b5,#26b0ae,#20aaa8,#19a4a2);border-bottom:1px solid #169291}
.menu ul li a{font-size:1.125rem;text-decoration:none;color:#fff}
.portfolio-item:hover .info{background-color:#2db8b7;display:block;width:100%;height:100%;position:absolute;left:0;top:0;opacity:.9;color:#fff}
.portfolio-item:hover .info-center{text-align:center;top:50%;position:absolute;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.portfolio-item:hover .info__title{font-size:.875rem;text-transform:capitalize}
@media (min-width:37.5em){.portfolio-item:hover .info__title{font-size:1rem}}
@media (min-width:64em){.portfolio-item:hover .info__title{font-size:1.0625rem}}
@media (min-width:70em){.portfolio-item:hover .info__title{font-size:1.125rem}}
.portfolio-item:hover .info__subtitle{font-size:.4375rem;padding:5px 0 15px;border-bottom:1px solid #fff;margin-bottom:10px}
@media (min-width:37.5em){.portfolio-item:hover .info__subtitle{font-size:.625rem}}
@media (min-width:64em){.portfolio-item:hover .info__subtitle{font-size:.625rem;margin-bottom:10px}}
@media (min-width:70em){.portfolio-item:hover .info__subtitle{font-size:.75rem;margin-bottom:15px}}
.portfolio-item:hover .info__arrow{padding:8px 12px;border:1px solid #fff;-webkit-border-radius:50%;border-radius:50%;width:13px;margin:0 auto}
@media (min-width:37.5em){.portfolio-item:hover .info__arrow{width:11px;padding:11px 16px}}
@media (min-width:64em){.portfolio-item:hover .info__arrow{width:13px;padding:13px 17px}}
@media (min-width:70em){.portfolio-item:hover .info__arrow{width:20px;padding:20px}}
.portfolio-item:hover .info__arrow a{color:#fff}
.contact{display:block;position:absolute;right:0;top:0;color:#fff}
.contact__icon{position:absolute;display:block;right:0;padding:15px;background-color:#28b4b2;z-index:5}
.contact__icon i{padding:14px 12px 13px 16px;border:1px solid #fff;-webkit-border-radius:50%;border-radius:50%;width:20px}
.contact-info{display:none}
.contact .active{display:block;position:relative;background-color:#333;padding:20px;opacity:.8;top:75px}
.contact .active i{padding:0 10px 20px 0}
.share{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;padding:30px 25px 0 50px;background-color:#242b2e}
.copyrights{color:#6b7072;font-size:.75rem;background-color:#242b2e;padding:25px 25px 255px 0;text-align:right}
.sprite{background-image:url(../img/spritesheet.png);background-repeat:no-repeat;display:block}
.sprite-webicon-behance{width:24px;height:24px;background-position:-5px -5px}
.sprite-webicon-dribbble{width:24px;height:24px;background-position:-39px -5px}
.sprite-webicon-facebook{width:24px;height:24px;background-position:-5px -39px}
.sprite-webicon-flickr{width:24px;height:24px;background-position:-39px -39px}
.sprite-webicon-googleplus{width:24px;height:24px;background-position:-73px -5px}
.sprite-webicon-pinterest{width:24px;height:24px;background-position:-73px -39px}
.sprite-webicon-twitter{width:24px;height:24px;background-position:-5px -73px}